@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,900&display=swap");
@import "responsive";
@import "back";
@import "predefinido";
@import "cadastro";
h3 {
    color: black;
    font-family: "Roboto", sans-serif;
}
b {
    color: rgb(136, 136, 136);
}
.visible-xs {
    display: none;
}
.area-opc {
    padding-top: 10rem;
    position: relative;
    z-index: 999;
}
.BoxButtons {
    height: 25rem;
    background: #fff;
    border-radius: 2px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}
.imgCenter {
    justify-content: center;
    display: flex;
}
.imgRight {
    justify-content: flex-end;
    display: flex;
}
.txtRight {
    text-align: end;
}
.txtCenter {
    text-align: center;
}
.bodyBox {
    a {
        width: 100%;
        text-align: center;
    }
}
.HeadBox {
    text-align: center;
}
.Btn2 {
    background: none;
    width: 50%;
    height: 50px;
    border-radius: 9px;
    text-transform: uppercase;
    color: #ff9800;
    border: 2px solid orange;

    &:focus {
        outline: none;
    }
}
.BtnVerify {
    &:focus {
        border: 1px solid #058c05;
        color: #058c05;
    }
}
.detalhes-area {
    width: 53%;
    background: white;
    height: 100%;
    z-index: 999;
    position: absolute;
    border-radius: 99% 38% 100% 0% / 0% 100% 0 100%;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    text-align: center;
}
.form-control {
    &:focus {
        box-shadow: 0 0px 1px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
        border-color: none !important;
        outline: none !important;
        border-color: #cacaca !important;
    }
}
.hand {
    text-align: center;
    img {
        width: 34%;
    }
    a {
    }
}
.info {
    h1 {
        color: white;
    }
    h4 {
        color: #bfbfbf;
    }
}
